<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ information?.Author }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-card *ngIf="information">
    <ion-card-header>
      <ion-icon name="contact" slot="start"></ion-icon>
      <ion-card-title>
        {{ information.Author }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <img [src]="information.Image" class="info-img">
    </ion-card-content>
  </ion-card>

</ion-content>
>
