<ion-header>
  <ion-toolbar color="primary">
    <ion-title strong="true" style="text-align: center;">
      Create Board
    </ion-title>
    <ion-button (click)="CloseModal ()" slot="end" shape="round">
      <ion-icon name="close" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="board">
  <ion-card>
    <ion-item>
      <ion-label position="floating">Board Name</ion-label>
      <ion-input [(ngModel)]="board.title" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="board.description" name="description"></ion-input>
    </ion-item>
    <ion-button (click)="onSubmit()" shape="round">
      Create
    </ion-button>
  </ion-card>


</ion-content>
