<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      CorkBoard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-row>
    <ion-col size="4" *ngFor ="let img of imageList">
      <img [src]="img.download_url">
    </ion-col>
  </ion-row> -->

  <div>
    <!-- <ion-alert (onload)= "presentAlertMultipleButtons()"></ion-alert> -->
    <ion-button (click)="presentAlertMultipleButtons()">Welcome</ion-button>
  </div>
  <div class="collection ion-padding">
    <div class="collection-item" text-center *ngFor ="let img of imageList">
      <ion-button>
        <ion-icon name="add" slot="start"></ion-icon>
        Add
      </ion-button>
      <ion-img [src]="https://picsum.photos/id/{_id}/info" [routerLink]="['/image']"></ion-img>
        {{ img.author }}
    </div>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadImages($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading Images..">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
